.iso-logo{
  width: 90px;
  margin-top: 3px;
  margin-right: 7px;
}

.nav-add-info{
  font-size: 12px;
  font-weight: bolder;
}
.nav-main {
  background-color: white;
  color: black;
}

.nav-logo{
  margin-left: 30px;
  margin-top: 5px;
}

.nav-main ul a{
  color: black;
}
nav ul a:hover{
  background-color: white !important;
  color: #4fc3f7;
}
