<header class="hide-on-small-only">
  <nav class="nav-main">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo nav-logo">
        <img class="responsive-img" src="assets/img/KPS_Logo.jpg" style="width: 160px">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><span class="nav-add-info"><i class="fa fa-phone"></i>&nbsp;&nbsp;(+62-21) 639 8000 | (+62-21) 2946 0111 / 0222 / 0333 </span>
        </li>
        <li><a href="mailto:info@karyaprimasuplindo.co.id" class="nav-add-info"><i class="fa fa-envelope"></i> Contact
          Us By Email</a></li>
        <li><img class="responsive-img iso-logo" src="assets/img/ISO_9001.png"></li>
        <li><img class="responsive-img iso-logo" src="assets/img/OHSAS_18001.png"></li>
      </ul>
    </div>
  </nav>
</header>
<div class="hide-on-large-only logo-on-small">
  <div>
    <div class="pull-left">
      <img class="responsive-img" src="assets/img/KPS_Logo.jpg" style="width: 160px">
    </div>
    <div class="pull-right">
      <img class="responsive-img iso-logo-on-small" src="assets/img/ISO_9001.png">
      <img class="responsive-img iso-logo-on-small" src="assets/img/OHSAS_18001.png">
    </div>
  </div>
</div>
