<header class="hide-on-small-only hide-on-med-only navbar-fixed">
  <nav class="nav-main">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo nav-logo">
        <img class="responsive-img" src="assets/img/KPS_Logo.jpg" style="width: 160px">
      </a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <i class="fa fa-volume-control-phone"></i>
          +62-21 639 8000 | +62-21 2946 0111 / 0222 / 0333
        </li>
        <li><a href="mailto:info@karyaprimasuplindo.co.id" class="nav-add-info btn btn-floating btn-medium blue pulse tooltipped"
         data-position="left" data-delay="50" data-tooltip="Contact Us By Email"><i class="fa fa-envelope"></i></a></li>
      </ul>

    </div>
  </nav>
</header>
<div class="hide-on-large-only logo-on-small">
  <div>
    <div class="pull-left">
      <img class="responsive-img logo-small" src="assets/img/KPS_Logo.jpg">
    </div>
    <span class="pull-right">
        <i class="fa fa-volume-control-phone fa-small"></i>
        +62-21 639 8000 | +62-21 2946 0111 / 0222 / 0333
    </span>
  </div>
</div>
