<header>
  <nav class="nav-main">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo nav-logo">
        <img class="responsive-img" src="assets/img/kps-logo.jpg">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><span><i class="fa fa-phone"></i>&nbsp;&nbsp;(+62-21) 639 8000 | (+62-21) 2946 0111 / 0222 / 0333 </span></li>
        <li><a href="mailto:info@karyaprimasuplindo.co.id "><i class="fa fa-envelope"></i> Contact Us By Email</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
