<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">KPS Office & MPS</h5>
        <ul>
          <li><span class="grey-text address-info text-lighten-3">KOMPLEK GRIYA INTI SENTOSA</span></li>
          <li><span class="grey-text address-info text-lighten-3">RUKO SUNTER ICON</span></li>
          <li><span class="grey-text address-info text-lighten-3">JL.GRIYA SEJAHTERA BLOK L-1 No.12–14</span></li>
          <li><span class="grey-text address-info text-lighten-3">JAKARTA UTARA 14350</span></li>
          <li><span class="grey-text address-info text-lighten-3">T. (+62-21) 2946 0111 / 0222 / 0333</span></li>
          <li><span class="grey-text address-info text-lighten-3">F. (+62-21) 2946 0666 / 0999</span></li>
        </ul>
      </div>
      <div class="col l4  s12">
        <h5 class="white-text">KPS Office <span class="small-text-50">(Under Construction)</span></h5>
        <ul>
          <li><span class="grey-text address-info text-lighten-3">JL. PANGERAN JAYAKARTA KOMPLEK 68 BLOK C-4</span></li>
          <li><span class="grey-text address-info text-lighten-3">JAKARTA PUSAT 10730</span></li>
          <li><span class="grey-text address-info text-lighten-3">T. (+62-21) 639 8000</span></li>
          <li><span class="grey-text address-info text-lighten-3">F. (+62-21) 624 6236/37</span></li>
        </ul>
      </div>
      <div class="col l4  s12">
        <h5 class="white-text">Contact Us</h5>
        <ul>
          <li>
            <div>
              <span class="grey-text text-lighten-3">For general inquiry</span>
              <a class="grey-text mail-info text-lighten-3" href="mailto:info@karyaprimasuplindo.co.id ">info@karyaprimasuplindo.co.id </a>
            </div>
          </li>
          <li>
            <div>
              <span class="grey-text text-lighten-3">For retail sales</span>
              <a class="grey-text mail-info text-lighten-3" href="mailto:sales@karyaprimasuplindo.co.id ">sales@karyaprimasuplindo.co.id </a>
            </div>
          </li>
          <li>
            <div>
              <span class="grey-text text-lighten-3">For EPC and End Users</span>
              <a class="grey-text mail-info text-lighten-3" href="mailto:project@karyaprimasuplindo.co.id">project@karyaprimasuplindo.co.id</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; 2017 Copyright Text
    </div>
  </div>
</footer>
