<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text"><i class="material-icons">business</i> KPS Office & MPS</h5>
        <ul>
          <li><span class="grey-text address-info text-lighten-3">Komplek Griya Inti Sentosa</span></li>
          <li><span class="grey-text address-info text-lighten-3">Ruko Sunter Icon</span></li>
          <li><span class="grey-text address-info text-lighten-3">JL.Griya Sejahtera Blok L-1 No.12–14</span></li>
          <li><span class="grey-text address-info text-lighten-3">Jakarta Utara 14350</span></li>
          <li><span class="grey-text address-info text-lighten-3">T. (+62-21) 2946 0111 / 0222 / 0333</span></li>
          <li><span class="grey-text address-info text-lighten-3">F. (+62-21) 2946 0666 / 0999</span></li>
        </ul>
      </div>
      <div class="col l4  s12">
        <h5 class="white-text"><i class="material-icons">warning</i> KPS Office <span class="small-text-50">(Under Construction)</span></h5>
        <ul>
          <li><span class="grey-text address-info text-lighten-3">JL. Pangeran Jayakarta Komplek 68 Blok C-4</span></li>
          <li><span class="grey-text address-info text-lighten-3">Jakarta Pusat 10730</span></li>
          <li><span class="grey-text address-info text-lighten-3">T. (+62-21) 639 8000</span></li>
          <li><span class="grey-text address-info text-lighten-3">F. (+62-21) 624 6236/37</span></li>
        </ul>
      </div>
      <div class="col l4  s12">
        <h5 class="white-text"><i class="material-icons">perm_phone_msg</i> Contact Us</h5>
        <ul>
          <li>
            <div>
              <span class="grey-text address-info text-lighten-3">For general inquiry</span>
              <a class="grey-text mail-info text-lighten-3" href="mailto:info@karyaprimasuplindo.co.id ">info@karyaprimasuplindo.co.id </a>
            </div>
          </li>
          <li>
            <div>
              <span class="grey-text address-info text-lighten-3">For retail sales</span>
              <a class="grey-text mail-info text-lighten-3" href="mailto:sales@karyaprimasuplindo.co.id ">sales@karyaprimasuplindo.co.id </a>
            </div>
          </li>
          <li>
            <a>
              <span class="grey-text address-info text-lighten-3">For EPC and End Users</span>
              <a class="grey-text mail-info text-lighten-3" href="mailto:project@karyaprimasuplindo.co.id">project@karyaprimasuplindo.co.id</a>
              <a class="waves-effect waves-light btn red" href="../../assets/pdf/KPS_MiniCatalog.pdf">
                <i class="material-icons">picture_as_pdf</i> <span style="margin-top: 2px"> Download Our Catalog</span></a>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy;2017 Copyright - Karya Prima Suplindo
    </div>
  </div>
</footer>
