<blockquote>
  <h4>Product</h4>
</blockquote>
<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active"><i class="fa fa-window-maximize"></i>Line Pipe</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l4 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A106-B / A53-B / API5L-B / API5L-X42</li>
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A312 TP304/L & TP316/L</li>
          </ul>
        </div>
        <div class="col l4 s12">
          <h5>Size</h5>
          <span class="product-desc">1/2" – 16"</span>
          <h5>Wall Thickness</h5>
          <span class="product-desc">SCH. 10S, SCH. STD, SCH. 40, SCH. 40S, SCH XS, SCH. 80,SCH. 80S, SCH. 120, SCH. 160, SCH. XXS, etc.</span>
        </div>
        <div class="col l4 s12">
          <h5>Brand</h5>
          <span
            class="product-desc">NSSMC (JAPAN), TUBOS (SPAIN), MITTAL (SOUTH AFRICA), KOBE (JAPAN), SANYO (JAPAN)</span>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-window-maximize"></i>Butt-Weld Fittings</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l3 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A234 WPB & A420 WPL6</li>
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A403 WP304/L & 316/L</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>TYPE</h5>
          <span class="product-desc">ELBOW 90D LR & SR, ELBOW 45D LR, ELBOW 180D LR & SR, EQUALTEE & REDUCER TEE, REDUDER CONCENTRIC & REDUDER ECCENTRIC,END CAP, LAP JOINT STUB END </span>
        </div>
        <div class="col l3 s12">
          <h5>Size</h5>
          <span class="product-desc">1/2" – 24"</span>
          <h5>Wall Thickness</h5>
          <span class="product-desc">SCH. 10S, SCH. STD, SCH. 40, SCH. 40S, SCH XS, SCH. 80,SCH. 80S, SCH. 120, SCH. 160, SCH. XXS, etc.</span>
        </div>
        <div class="col l3 s12">
          <h5>Brand</h5>
          <img height="80" src="assets/img/Benkan.png">
          <span
            class="product-desc">TK (SOUTH KOREA)</span>
        </div>
      </div>
      <div class="row">
        <span style="display: inline-block">
          <img class="materialboxed" width="150" height="80" src="assets/img/ELBOW_90_D_LR.jpeg"
               data-caption="ELBOW 90 D LR">
        </span>
        <span style="display: inline-block">
          <img class="materialboxed" width="150" height="80" src="assets/img/EQUAL_TEE.jpeg" data-caption="Equal Tee">
        </span>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-window-maximize"></i>Forge Fittings</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l3 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A105N, ASTM A234 WPB (FOR SWAGE NIPPLE & BULL
              PLUG)
            </li>
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A182 F304/L & F316/L, ASTM A403 WP304/L & 316/L
              (FOR SWAGE NIPPLE& BULL PLUG)
            </li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Type</h5>
          <span class="product-desc">
            ELBOW 90D, ELBOW  45D, STREET ELBOW, EQUAL TEE  & REDUCERTEE, UNION, FULL COUPLING, HALF COUPLING, REDUCER COUPLING, CAP,BOSS, INSERT, HEX PLUG, SQUARE PLUG, ROUND PLUG, BULL PLUG, HEXBUSHING, HEX NIPPLE
          </span>
        </div>
        <div class="col l3 s12">
          <h5>Size</h5>
          <span class="product-desc">1/2” – 4” & 1/2” – 16” (FOR BRANCH FITTING / OLETS)</span>
          <h5>Pressure</h5>
          <span class="product-desc">#3000, #6000 & #9000</span>
          <h5>Connection</h5>
          <span class="product-desc">NPT (THREADED), SW (SOCKET WELD), BW (BUTT WELD)</span>
          <h5>WALL THICKNESS</h5>
          <span
            class="product-desc">SCH. STD, SCH. 40, SCH. 40S, SCH XS, SCH. 80, SCH. 80S,SCH. 160, SCH. XXS, etc.</span>
        </div>
        <div class="col l3 s12">
          <h5>Brand</h5>
          <img height="80" src="assets/img/Ulma.png">
          <span class="product-desc">BOTH WELL (TAIWAN), VIAR (ITALY)</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12" style="text-align: center">
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsElbow90.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsElbow45.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsCross.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsTee.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsUnion.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
          </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-window-maximize"></i>Forged Flange</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l3 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A105N</li>
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A182 F304/L & F316/L</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Type</h5>
          <span class="product-desc">
            WELD NECK (WN), BLIND, SLIP ON (SO), SOCKET WELD (SW),THREADED (NPT)
          </span>
        </div>
        <div class="col l3 s12">
          <h5>Size</h5>
          <span class="product-desc">1/2” – 24”, 26” – 36” (MSS SP44 & API 605)</span>
          <h5>Pressure</h5>
          <span class="product-desc">#150, #300, #600, #900, #1500, #2500, #3000 (API), #5000 (API)</span>
          <h5>WALL THICKNESS</h5>
          <span
            class="product-desc">SCH. STD, SCH. 40, SCH. 40S, SCH XS, SCH. 80, SCH. 80S,SCH. 160, SCH. XXS, etc</span>
        </div>
        <div class="col l3 s12">
          <h5>Brand</h5>
          <img height="80" src="assets/img/Ulma.png">
          <span class="product-desc">MFF (ITALY), SAN ENG (TAIWAN), PF (OWN BRAND)</span>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-window-maximize"></i>Stud Bolt & Nut</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l3 s12">
          <h5>Spesification</h5>ISO_9001.png
          KPS_Logo.jpg
          OHSAS_18001.png
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A193 B7 & A194 2H</li>
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A193 B8 / B8M & A194 8 / 8M / 8MA</li>
          </ul>
        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
          <h5>Size</h5>
          <span class="product-desc">1/2" – 3"</span>
        </div>
        <div class="col l3 s12">
          <h5>Brand</h5>
          <span
            class="product-desc">PS (OWN BRAND), SANWA (JAPAN), HAMANAKA (JAPAN)</span>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-window-maximize"></i>Spiral Wound Gasket</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l4 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASME B16.20</li>
          </ul>
        </div>
        <div class="col l4 s12">
          <h5>Type</h5>
          <span class="product-desc">CG (OUTER RING ONLY) & CGI (INNER & OUTER RING)</span>
          <h5>Size</h5>
          <span class="product-desc">1/2” – 24”</span>
          <h5>PRESSURE</h5>
          <span class="product-desc">#150, #300, #600, #900, #1500, #2500</span>
        </div>
        <div class="col l4 s12">
          <h5>Brand</h5>
          <span
            class="product-desc">KLINGER (UK)</span>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-window-maximize"></i>Ring Joint Gasket</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l4 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASME B16.20</li>
          </ul>
        </div>
        <div class="col l4 s12">
          <h5>Type</h5>
          <span class="product-desc">OVAL & OCTAGONAL</span>
          <h5>Size</h5>
          <span class="product-desc">R11 – R 67</span>
        </div>
        <div class="col l4 s12">
          <h5>Brand</h5>
          <span
            class="product-desc">KLINGER (UK)</span>
        </div>
      </div>
    </div>
  </li>
</ul>
