<blockquote>
  <h4>Product</h4>
</blockquote>
<div class="row">
  <div class="col s12">

    <!-- 01 LINE PIPES -->
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/img/product/line-pipe1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><b style="color: #2196f3">Line Pipes</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">expand_less</i>
        </div> </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><b style="color: #2196f3">Line Pipes</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">close</i>
        </div></span>
        <div class="row">
          <div class="col l3 s12">
            <h5>Spesification</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> ASTM A106-B / API5L-B / API5L-X42</li>
              <li class="product-desc"><i class="fa fa-circle"></i> ASTM A312 TP304/L</li>
              <li class="product-desc"><i class="fa fa-circle"></i> ASTM A312 TP316/L</li>
            </ul>
          </div>

          <div class="col l3 s12">
            <h5>TYPE</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> SEAMLESS PIPE</li>
            </ul>
          </div>

          <div class="col l3 s12">
            <h5>Size</h5>
            <span class="product-desc">1/2" – 16"</span>
          </div>

          <span>
            <div class="col l3 s12">
            <h5>Brand</h5>
            <div>
                <img height="50" src="assets/img/Tubos.png">
                <img height="50" src="assets/img/Mittal.png">
                <img height="30" src="assets/img/NSSMC.png">
                <ul style="margin-left: 5px;">
                  <li class="product-desc brand"><i class="fa fa-bookmark-o"></i> SANYO (JAPAN)</li>
                  <li class="product-desc brand"><i class="fa fa-bookmark-o"></i> KOBE (JAPAN)</li>
                </ul>
            </div>
          </div>
          </span>

        </div>
      </div>
    </div>

    <!-- 02 BUTT-WELD FITTINGS -->
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/img/product/Butt-weld-Fittings1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><b style="color: #2196f3">Butt-weld Fittings</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">expand_less</i>
        </div> </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><b style="color: #2196f3">Butt-weld Fittings</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">close</i>
        </div></span>
        <div class="cstm-fst">
          <div class="row">
            <div class="col l3 s12">
              <h5>Spesification</h5>
              <ul style="margin-left: 5px;">
                <li class="product-desc"><i class="fa fa-circle"></i> ASTM A234 WPB</li>
                <li class="product-desc"><i class="fa fa-circle"></i> ASTM A403 WP304/L</li>
                <li class="product-desc"><i class="fa fa-circle"></i> ASTM A403 WP316/L</li>
                <li class="product-desc"><i class="fa fa-circle"></i> ASME B16.9</li>
              </ul>
            </div>

            <div class="col l3 s12">
              <h5>TYPE</h5>
              <ul style="margin-left: 5px;">
                <li class="product-desc"><i class="fa fa-circle"></i> ELBOW 90D LR & SR</li>
                <li class="product-desc"><i class="fa fa-circle"></i> ELBOW 45D LR</li>
                <li class="product-desc"><i class="fa fa-circle"></i> ELBOW 180D LR & SR</li>
                <li class="product-desc"><i class="fa fa-circle"></i> EQUAL TEE & RED TEE</li>
                <li class="product-desc"><i class="fa fa-circle"></i> END CAP</li>
                <li class="product-desc"><i class="fa fa-circle"></i> REDUCER CONCENTRIC & ECCENTRIC</li>
                <li class="product-desc"><i class="fa fa-circle"></i> LAP JOINT STUB END</li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5>Size</h5>
              <span class="product-desc">1/2" – 24"</span>
            </div>
            <div class="col l3 s12">
              <h5>Brand</h5>
              <div>
                <img height="50" src="assets/img/Benkan.png">
                <ul style="margin-left: 5px;">
                  <li class="product-desc" style="font-size: 2.0em;font-weight: 300"><i class="fa fa-bookmark-o"></i> TK
                    (SOUTH KOREA)
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s12" style="text-align: center">
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ButtWeldFittingsCap.png"
                   data-caption="Butt Weld Fittings Cap">
          </span>
              <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ButtWeldFittingsConcentricReducer.png"
                   data-caption="Butt Weld Fittings Concentric Reducer">
          </span>
              <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ButtWeldFittingsEccentricReducer.png"
                   data-caption="Butt Weld Fittings Eccentric Reducer">
          </span>
              <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ButtWeldFittingsReducingTee.png"
                   data-caption="Butt Weld Fittings Reducing Tee">
          </span>
              <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ButtWeldFittingsStraightTee.png"
                   data-caption="Butt Weld Fittings Straight Tee">
          </span>
              <!-- Modal Trigger -->
              <div>
                <a class="more-image" href="#modal2">MORE IMAGE <i class="fa fa-arrow-circle-o-right"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- 03 FORGED FITTINGS -->
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/img/product/Forged-Fittings1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><b style="color: #2196f3">Forged Fittings</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">expand_less</i>
        </div> </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><b style="color: #2196f3">Forged Fittings</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">close</i>
        </div></span>
        <div class="row">
          <div class="col l3 s12">
            <h5>Spesification</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> ASTM A105N & A234 WPB</li>
              <li class="product-desc"><i class="fa fa-circle"></i> ASTM A182 F304/L & A403 WP304/L</li>
              <li class="product-desc"><i class="fa fa-circle"></i> ASTM A182 F316/L & A403 WP316/L</li>
              <li class="product-desc"><i class="fa fa-circle"></i> ASME B16.11</li>
            </ul>
          </div>

          <div class="col l3 s12">
            <h5>Type</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> ELBOW 90D & 45D (NPT & SW)</li>
              <li class="product-desc"><i class="fa fa-circle"></i> EQUAL TEE & REDUCER TEE (NPT & SW)</li>
              <li class="product-desc"><i class="fa fa-circle"></i> UNION (NPT & SW)</li>
              <li class="product-desc"><i class="fa fa-circle"></i> FULL COUPLING, HALF COUPLING & REDUCER COUPLING (NPT
                & SW)
              </li>
              <li class="product-desc"><i class="fa fa-circle"></i> END CAP (NPT & SW)</li>
              <li class="product-desc"><i class="fa fa-circle"></i> BOSS (NPT & SW)</li>
              <li class="product-desc"><i class="fa fa-circle"></i> HEX PLUG, SQUARE PLUG, ROUND PLUG & HEX BUSHING
                (NPT)
              </li>
              <li class="product-desc"><i class="fa fa-circle"></i> REDUCER INSERT (SW)</li>
              <li class="product-desc"><i class="fa fa-circle"></i> THREADOLET, SOCKOLET & WELDOLET</li>
              <li class="product-desc"><i class="fa fa-circle"></i> SWAGE NIPPLE</li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5>Size</h5>
            <span class="product-desc">1/2” – 16”</span>
            <h5>Pressure</h5>
            <span class="product-desc">#3000, #6000, #9000</span>
          </div>
          <div class="col l3 s12">
            <h5>Brand</h5>
            <div>
              <img height="50" src="assets/img/Ulma.png">
              <img height="50" src="assets/img/Viar.png">
              <ul style="margin-left: 5px;">
                <li class="product-desc brand"><i class="fa fa-bookmark-o"></i> MEGA (ITALY)</li>
                <li class="product-desc brand"><i class="fa fa-bookmark-o"></i> BOTH WELL (TAIWAN)</li>
              </ul>
            </div>
          </div>
          <div class="col s12" style="text-align: center">
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsElbow90.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
            <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsElbow45.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
            <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsCross.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
            <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsTee.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
            <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsUnion.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
            <!-- Modal Trigger -->
            <div>
              <a class="more-image" href="#modal3">MORE IMAGE <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- 04 FORGED FLANGE -->
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/img/product/Forged-Flange1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><b style="color: #2196f3">Forged Flange</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">expand_less</i>
        </div> </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><b style="color: #2196f3">Forged Flange</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">close</i>
        </div></span>
        <div class="row">
          <div class="col l3 s12">
            <h5>Spesification</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> ASTM A105N</li>
              <li class="product-desc"><i class="fa fa-circle"></i> ASTM A182 F304/L</li>
              <li class="product-desc"><i class="fa fa-circle"></i> ASTM A182 F316/L</li>
              <li class="product-desc"><i class="fa fa-circle"></i> ASME B16.5</li>
              <li class="product-desc"><i class="fa fa-circle"></i> ASME B16.47 TYPE A & B</li>
            </ul>

          </div>

          <div class="col l3 s12">
            <h5>Type</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> WELD NECK (WN)</li>
              <li class="product-desc"><i class="fa fa-circle"></i> BLIND</li>
              <li class="product-desc"><i class="fa fa-circle"></i> SLIP ON (SO)</li>
              <li class="product-desc"><i class="fa fa-circle"></i> SOCKET WELDING (SW)</li>
              <li class="product-desc"><i class="fa fa-circle"></i> THREADED (NPT)</li>
              <li class="product-desc"><i class="fa fa-circle"></i> LAP JOINT</li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5>Size</h5>
            <span class="product-desc">1/2” – 24”</span>
            <h5>Pressure</h5>
            <span class="product-desc">#150, #300, #600, #900, #1500, #2500, #3000 (API), #5000 (API)</span>
          </div>
          <div class="col l3 s12">
            <h5>Brand</h5>
            <div>
              <img height="50" src="assets/img/Ulma.png">
              <ul style="margin-left: 5px;">
                <li class="product-desc brand"><i class="fa fa-bookmark-o"></i> METALFAR (ITALY)</li>
                <li class="product-desc brand"><i class="fa fa-bookmark-o"></i> SAN ENG (TAIWAN)</li>
                <li class="product-desc brand"><i class="fa fa-bookmark-o"></i> PF (OWN BRAND)</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col s12" style="text-align: center">
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgedFlangeBlind.png"
                   data-caption="Forged Flange Blind">
          </span>
              <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgedFlangeSlipOn.png"
                   data-caption="Forge Flange Slip On">
          </span>
              <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgedFlangeSocketweld.png"
                   data-caption="Forge Flange Socket Weld">
          </span>
              <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgedFlangeThreded.png"
                   data-caption="Forge Flange Threded">
          </span>
              <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgedFlangeWeldingNeck.png"
                   data-caption="Forge Flange Welding Neck">
          </span>

              <!-- Modal Trigger -->
              <div>
                <a class="more-image" href="#modal4">MORE IMAGE <i class="fa fa-arrow-circle-o-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 05 STUD BOLT & NUT -->
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/img/product/StudBoltsNuts1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><b style="color: #2196f3">Stud Bolt & Nut</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">expand_less</i>
        </div> </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><b style="color: #2196f3">Stud Bolt & Nut</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">close</i>
        </div></span>
        <div class="row">
          <div class="col l3 s12">
            <h5>Spesification</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> ASTM A193 B7 & A194 2H</li>
              <li class="product-desc"><i class="fa fa-circle"></i> ASTM A193 B8 & A194 8</li>
              <li class="product-desc"><i class="fa fa-circle"></i> ASTM A193 B8M & A194 8M / 8MA</li>
            </ul>
          </div>

          <div class="col l3 s12">
            <h5>Type</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> UNC STANDARD</li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5>Size</h5>
            <span class="product-desc">1/2" – 3"</span>
          </div>
          <div class="col l3 s12">
            <h5>Brand</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc brand"><i class="fa fa-bookmark-o"></i> PS (OWN BRAND)</li>
              <li class="product-desc brand"><i class="fa fa-bookmark-o"></i> SANWA (JAPAN)</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/StudboltAndNut.png"
                   data-caption="Studbolt And Nut">
          </span>
            <!-- Modal Trigger -->
            <div>
              <a class="more-image" href="#modal5">MORE IMAGE <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- 06 SPIRAL WOUND GASKET -->
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/img/product/SpiralWoundGaskets1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><b style="color: #2196f3">Spiral Wound Gasket</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">expand_less</i>
        </div> </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><b style="color: #2196f3">Spiral Wound Gasket</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">close</i>
        </div></span>
        <div class="row">
          <div class="col l3 s12">
            <h5>Spesification</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> ASME B16.20</li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5>Type</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> Hoop: SS316/L</li>
              <li class="product-desc"><i class="fa fa-circle"></i> Filler: Graphite</li>
              <li class="product-desc"><i class="fa fa-circle"></i> Inner Ring: SS316/L</li>
              <li class="product-desc"><i class="fa fa-circle"></i> Outer Ring: CS or SS316/L</li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5>Size</h5>
            <span class="product-desc">1/2” – 24”</span>
            <h5>PRESSURE</h5>
            <span class="product-desc">#150, #300, #600, #900, #1500, #2500</span>
          </div>
          <div class="col l3 s12">
            <h5>Brand</h5>
            <div>
              <img height="50" src="assets/img/Klinger.png">
              <ul style="margin-left: 5px;">
                <li class="product-desc brand"><i class="fa fa-bookmark-o"></i> INGI (Ina)</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- 07 RING JOINT GASKET -->
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/img/product/RingJointGasket1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><b style="color: #2196f3">Ring Joint Gasket</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">expand_less</i>
        </div> </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><b style="color: #2196f3">Ring Joint Gasket</b><div
          class="btn-floating waves-effect waves-light blue right">
          <i class="material-icons right">close</i>
        </div></span>
        <div class="row">
          <div class="col l3 s12">
            <h5>Spesification</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> ASME B16.20</li>
              <li class="product-desc"><i class="fa fa-circle"></i> API 6A</li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5>Type</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> Type R (Oval and Octagonal)</li>
              <li class="product-desc"><i class="fa fa-circle"></i> Type RX</li>
              <li class="product-desc"><i class="fa fa-circle"></i> Type BX</li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5>Size</h5>
            <ul style="margin-left: 5px;">
              <li class="product-desc"><i class="fa fa-circle"></i> R11 – R67</li>
              <li class="product-desc"><i class="fa fa-circle"></i> RX20 – RX57</li>
              <li class="product-desc"><i class="fa fa-circle"></i> BX150 – BX160</li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5>Brand</h5>
            <div>
              <img height="50" src="assets/img/Klinger.png">
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- POPUP 02 BUTT-WELD FITTINGS -->
<prdct-sl2 id="modal2"></prdct-sl2>

<!-- POPUP 03 FORGE FITTINGS -->
<prdct-sl3 id="modal3"></prdct-sl3>

<!-- POPUP 04 FORGED FLANGE -->
<prdct-sl4 id="modal4"></prdct-sl4>

<!-- POPUP 05 FORGED FLANGE -->
<prdct-sl5 id="modal5"></prdct-sl5>
