<blockquote>
  <h4>Product</h4>
</blockquote>
<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active"><i class="fa fa-window-maximize"></i>Line Pipe</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l4 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A106-B / A53-B / API5L-B / API5L-X42</li>
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A312 TP304/L & TP316/L</li>
          </ul>
        </div>
        <div class="col l4 s12">
          <h5>Size</h5>
          <span class="product-desc">1/2" – 16"</span>
          <h5>Wall Thickness</h5>
          <span class="product-desc">SCH. 10S, SCH. STD, SCH. 40, SCH. 40S, SCH XS, SCH. 80,SCH. 80S, SCH. 120, SCH. 160, SCH. XXS, etc.</span>
        </div>
        <div class="col l4 s12">
          <h5>Brand</h5>
          <div style="text-align: center">
            <img height="50" src="assets/img/Tubos.png">
            <img height="50" src="assets/img/Mittal.png">
            <img height="30" src="assets/img/NSSMC.png">
          </div>
          <span
            class="product-desc">KOBE (JAPAN), SANYO (JAPAN)</span>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-window-maximize"></i>Butt-Weld Fittings</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l3 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A234 WPB & A420 WPL6</li>
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A403 WP304/L & 316/L</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>TYPE</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ELBOW 90D LR & SR</li>
            <li class="product-desc"><i class="fa fa-circle"></i> ELBOW 45D LR</li>
            <li class="product-desc"><i class="fa fa-circle"></i> ELBOW 180D LR & SR</li>
            <li class="product-desc"><i class="fa fa-circle"></i> EQUALTEE & REDUCER TEE</li>
            <li class="product-desc"><i class="fa fa-circle"></i> REDUDER CONCENTRIC</li>
            <li class="product-desc"><i class="fa fa-circle"></i> REDUDER ECCENTRIC</li>
            <li class="product-desc"><i class="fa fa-circle"></i> END CAP</li>
            <li class="product-desc"><i class="fa fa-circle"></i> LAP JOINT STUB END</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Size</h5>
          <span class="product-desc">1/2" – 24"</span>
          <h5>Wall Thickness</h5>
          <span class="product-desc">SCH. 10S, SCH. STD, SCH. 40, SCH. 40S, SCH XS, SCH. 80,SCH. 80S, SCH. 120, SCH. 160, SCH. XXS, etc.</span>
        </div>
        <div class="col l3 s12">
          <h5>Brand</h5>
          <div style="text-align: center">
            <img height="50" src="assets/img/Benkan.png">
          </div>
          <span
            class="product-desc">TK (SOUTH KOREA)</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12" style="text-align: center">
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ButtWeldFittingsCap.png"
                   data-caption="Butt Weld Fittings Cap">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ButtWeldFittingsConcentricReducer.png"
                   data-caption="Butt Weld Fittings Concentric Reducer">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ButtWeldFittingsEccentricReducer.png"
                   data-caption="Butt Weld Fittings Eccentric Reducer">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ButtWeldFittingsReducingTee.png"
                   data-caption="Butt Weld Fittings Reducing Tee">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ButtWeldFittingsStraightTee.png"
                   data-caption="Butt Weld Fittings Straight Tee">
          </span>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-window-maximize"></i>Forge Fittings</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l3 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A105N, ASTM A234 WPB (FOR SWAGE NIPPLE & BULL
              PLUG)
            </li>
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A182 F304/L & F316/L, ASTM A403 WP304/L & 316/L
              (FOR SWAGE NIPPLE& BULL PLUG)
            </li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Type</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ELBOW 90D</li>
            <li class="product-desc"><i class="fa fa-circle"></i> ELBOW 45D</li>
            <li class="product-desc"><i class="fa fa-circle"></i> STREET ELBOW</li>
            <li class="product-desc"><i class="fa fa-circle"></i> EQUAL TEE & REDUCERTEE</li>
            <li class="product-desc"><i class="fa fa-circle"></i> UNION</li>
            <li class="product-desc"><i class="fa fa-circle"></i> FULL COUPLING</li>
            <li class="product-desc"><i class="fa fa-circle"></i> HALF COUPLING</li>
            <li class="product-desc"><i class="fa fa-circle"></i> REDUCER COUPLING</li>
            <li class="product-desc"><i class="fa fa-circle"></i> CAP</li>
            <li class="product-desc"><i class="fa fa-circle"></i> BOSS</li>
            <li class="product-desc"><i class="fa fa-circle"></i> INSERT</li>
            <li class="product-desc"><i class="fa fa-circle"></i> HEX PLUG</li>
            <li class="product-desc"><i class="fa fa-circle"></i> SQUARE PLUG</li>
            <li class="product-desc"><i class="fa fa-circle"></i> ROUND PLUG</li>
            <li class="product-desc"><i class="fa fa-circle"></i> BULL PLUG</li>
            <li class="product-desc"><i class="fa fa-circle"></i> HEXBUSHING</li>
            <li class="product-desc"><i class="fa fa-circle"></i> HEX NIPPLE</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Size</h5>
          <span class="product-desc">1/2” – 4” & 1/2” – 16” (FOR BRANCH FITTING / OLETS)</span>
          <h5>Pressure</h5>
          <span class="product-desc">#3000, #6000 & #9000</span>
          <h5>Connection</h5>
          <span class="product-desc">NPT (THREADED), SW (SOCKET WELD), BW (BUTT WELD)</span>
          <h5>WALL THICKNESS</h5>
          <span
            class="product-desc">SCH. STD, SCH. 40, SCH. 40S, SCH XS, SCH. 80, SCH. 80S,SCH. 160, SCH. XXS, etc.</span>
        </div>
        <div class="col l3 s12">
          <h5>Brand</h5>
          <div style="text-align: center">
            <img height="50" src="assets/img/Ulma.png">
            <img height="50" src="assets/img/Viar.png">
          </div>
          <span class="product-desc">BOTH WELL (TAIWAN)</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12" style="text-align: center">
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsElbow90.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsElbow45.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsCross.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsTee.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgeFittingsUnion.png"
                   data-caption="Forge Fittings Elbow 90">
          </span>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-window-maximize"></i>Forged Flange</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l3 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A105N</li>
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A182 F304/L & F316/L</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Type</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> WELD NECK (WN)</li>
            <li class="product-desc"><i class="fa fa-circle"></i> BLIND</li>
            <li class="product-desc"><i class="fa fa-circle"></i> SLIP ON (SO)</li>
            <li class="product-desc"><i class="fa fa-circle"></i> SOCKET WELD (SW)</li>
            <li class="product-desc"><i class="fa fa-circle"></i> THREADED (NPT)</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Size</h5>
          <span class="product-desc">1/2” – 24”, 26” – 36” (MSS SP44 & API 605)</span>
          <h5>Pressure</h5>
          <span class="product-desc">#150, #300, #600, #900, #1500, #2500, #3000 (API), #5000 (API)</span>
          <h5>WALL THICKNESS</h5>
          <span
            class="product-desc">SCH. STD, SCH. 40, SCH. 40S, SCH XS, SCH. 80, SCH. 80S,SCH. 160, SCH. XXS, etc</span>
        </div>
        <div class="col l3 s12">
          <h5>Brand</h5>
          <div style="text-align: center">
            <img height="85" src="assets/img/Ulma.png">
          </div>
          <span class="product-desc">MFF (ITALY), SAN ENG (TAIWAN), PF (OWN BRAND)</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12" style="text-align: center">
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgedFlangeBlind.png"
                   data-caption="Forged Flange Blind">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgedFlangeSlipOn.png"
                   data-caption="Forge Flange Slip On">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgedFlangeSocketweld.png"
                   data-caption="Forge Flange Socket Weld">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgedFlangeThreded.png"
                   data-caption="Forge Flange Threded">
          </span>
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/ForgedFlangeWeldingNeck.png"
                   data-caption="Forge Flange Welding Neck">
          </span>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-window-maximize"></i>Stud Bolt & Nut</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l3 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A193 B7 & A194 2H</li>
            <li class="product-desc"><i class="fa fa-circle"></i> ASTM A193 B8 / B8M & A194 8 / 8M / 8MA</li>
          </ul>
        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
          <h5>Size</h5>
          <span class="product-desc">1/2" – 3"</span>
        </div>
        <div class="col l3 s12">
          <h5>Brand</h5>
          <span
            class="product-desc">PS (OWN BRAND), SANWA (JAPAN), HAMANAKA (JAPAN)</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12" style="text-align: left">
          <span style="display: inline-block">
              <img class="materialboxed" width="160" height="120" src="assets/img/StudboltAndNut.png"
                   data-caption="Studbolt And Nut">
          </span>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-window-maximize"></i>Spiral Wound Gasket</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l3 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASME B16.20</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Type</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> CG (OUTER RING ONLY)</li>
            <li class="product-desc"><i class="fa fa-circle"></i> CGI (INNER & OUTER RING)</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Size</h5>
          <span class="product-desc">1/2” – 24”</span>
          <h5>PRESSURE</h5>
          <span class="product-desc">#150, #300, #600, #900, #1500, #2500</span>
        </div>
        <div class="col l3 s12">
          <h5>Brand</h5>
          <div style="text-align: center">
            <img height="50" src="assets/img/Klinger.png">
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-window-maximize"></i>Ring Joint Gasket</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="col l3 s12">
          <h5>Spesification</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> ASME B16.20</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Type</h5>
          <ul style="margin-left: 5px;">
            <li class="product-desc"><i class="fa fa-circle"></i> OVAL</li>
            <li class="product-desc"><i class="fa fa-circle"></i> OCTAGONAL</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5>Size</h5>
          <span class="product-desc">R11 – R 67</span>
        </div>
        <div class="col l3 s12">
          <h5>Brand</h5>
          <div style="text-align: center">
            <img height="50" src="assets/img/Klinger.png">
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<a style="margin-left: 30px;" href="assets/pdf/KPS_MiniCatalog.pdf">Download Our Catalog</a>
