<blockquote>
  <h4>Experience List</h4>
</blockquote>

<div class="main">

  <input id="tab7" type="radio" name="tabs" checked><label for="tab7">2009</label>
  <input id="tab6" type="radio" name="tabs"><label for="tab6">2010</label>
  <input id="tab5" type="radio" name="tabs"><label for="tab5">2011</label>
  <input id="tab4" type="radio" name="tabs"><label for="tab4">2012</label>
  <input id="tab3" type="radio" name="tabs"><label for="tab3">2013</label>
  <input id="tab2" type="radio" name="tabs"><label for="tab2">2015</label>
  <input id="tab1" type="radio" name="tabs"><label for="tab1">2016</label>
  <div class="line"></div>

  <div class="content">
    <div id="content1">
      <ul class="collection">
        <li class="collection-item">
          <span class="title">STG AND BOILER BATUBARA PROJECT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.REKAYASA INDUSTRI</p>
        </li>
        <li class="collection-item">
          <span class="title">TELLURIUM FEED PUMP PERMANENT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.SMELTING</p>
        </li>
        <li class="collection-item">
          <span class="title">BLANKET PURCHASE AGREEMENT 2016</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>SANTOS</p>
        </li>
        <li class="collection-item">
          <span class="title">NGS TBBM</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.PERTAMINA (Persero)</p>
        </li>
        <li class="collection-item">
          <span class="title">PIPING SYSTEM EP FIELD TANJUNG</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.PERTAMINA E&P</p>
        </li>
        <li class="collection-item">
          <span class="title">LHD 5&6 PROJECT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>TOMPASO SULUT</p>
        </li>
        <li class="collection-item">
          <span class="title">PROVISION OF PIPING FITTING & FLANGE LOT 3 FOR KRA SOUTH 2 INFILL WELL</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>STAR ENERGY (KAKAP)</p>
        </li>
        <li class="collection-item">
          <span class="title">SUPPLY STEAM AND ELECTRICTY (PKG)</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PETROKIMIA GRESIK</p>
        </li>
        <li class="collection-item">
          <span class="title">EPCI FOR LIMA POWER AND SAFETY SYSTEM UPGRADE PROJECT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.PERTAMINA HULU ENERGI ONWJ</p>
        </li>
        <li class="collection-item">
          <span class="title">PLTU BABELAN</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.APECO KENCANA</p>
        </li>
        <li class="collection-item">
          <span class="title">MAINTENANCE</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User :</span></p>
          <p style="font-size: 12px">PT.PERTAMINA (Persero) VI BALONGAN</p>
          <p style="font-size: 12px">PT.PERTAMINA (Persero) IV CILACAP</p>
          <p style="font-size: 12px">PT.PERTAMINA (Persero) II DUMAI</p>
        </li>
      </ul>
    </div>
    <div id="content2">
      <ul class="collection">
        <li class="collection-item">
          <span class="title">BLANKET PURCHASE AGREEMENT 2015</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>SANTOS</p>
        </li>
        <li class="collection-item">
          <span class="title">BANGKA TOPSIDE PROJECT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>CHEVRON INDONESIA COMPANY</p>
        </li>
        <li class="collection-item">
          <span class="title">KERENDAN GAS FACILITIES</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>SALAMANDER ENERGY (BANGKANAI)
            LIMITED</p>
        </li>
        <li class="collection-item">
          <span class="title">KL GAS LIFT COMPRESSOR PROJECT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.PERTAMINA HULU ENERGI ONWJ</p>
        </li>
        <li class="collection-item">
          <span class="title">EPC PROJECT NDD AREA - 13</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.CHEVRON PACIFIC INDONESIA</p>
        </li>
        <li class="collection-item">
          <span class="title">MAINTENANCE</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User :</span></p>
          <p style="font-size: 12px">PT.BP PERTOCHEMICALS INDONESIA</p>
          <p style="font-size: 12px">PT.PERTAMINA HULU ENERGI WMO</p>
          <p style="font-size: 12px">PT.PERTAMINA (Persero) VI BALONGAN</p>
        </li>
      </ul>
    </div>
    <div id="content3">
      <ul class="collection">
        <li class="collection-item">
          <span class="title">BANYU URIP PROJCET</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>MOBIL CEPU LTD</p>
        </li>
        <li class="collection-item">
          <span class="title">PPGJ</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.PERTAMINA E&P</p>
        </li>
        <li class="collection-item">
          <span class="title">ARUN LNG RECEIVING HUB & REGASIFICATION TERMINAL (SEGREGATION)</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.PERTA ARUN GAS</p>
        </li>
        <li class="collection-item">
          <span class="title">LABUHAN MARINGGAI - TANJUNG KARANG</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.PERUSAHAAN GAS NEGARA</p>
        </li>
        <li class="collection-item">
          <span class="title">SOUTH MAHAKAM PHASE 3 DEVELOPMENT PROJECT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>TOTAL E & P INDONESIA</p>
        </li>
        <li class="collection-item">
          <span class="title">EPCI FOR GG NEW FIELD DEVELOPMENT PROJECT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.PERTAMINA HULU ENERGI ONWJ</p>
        </li>
        <li class="collection-item">
          <span class="title">SENORO GAS DEVELOPMENT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>MEDCO E & P TOMORI SULAWESI</p>
        </li>
        <li class="collection-item">
          <span class="title">BEKAPAI 2B / EPSC-1</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>TOTAL E & P INDONESIA</p>
        </li>
        <li class="collection-item">
          <span class="title">WATER INJECTION LINE</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PERTAMINA EP - EKSINDO TELAGA SAID
            DARAT</p>
        </li>
        <li class="collection-item">
          <span class="title">BLANKET PURCHASE AGREEMENT 2014 </span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>SANTOS</p>
        </li>
      </ul>
    </div>
    <div id="content4">
      <ul class="collection">
        <li class="collection-item">
          <span class="title">BETARA COMPLEX DEVELOPMENT BCD4 - MODIFICATION</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PETROCHINA INTERNATIONAL JABUNG</p>
        </li>
        <li class="collection-item">
          <span class="title">RUBY FIELD DEVELOPMENT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PEARLOIL (SEBUKU) LTD</p>
        </li>
        <li class="collection-item">
          <span class="title">POWDER FLAVOUR PLANT PROJECT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.OGAWA INDONESIA</p>
        </li>
        <li class="collection-item">
          <span class="title">EPC RAWA MODIFICATION</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>CONOCO PHILLIPS</p>
        </li>
        <li class="collection-item">
          <span class="title">RUBY TIE-IN PROJECT -EPSC2</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>TOTAL E & P INDONESIA</p>
        </li>
        <li class="collection-item">
          <span class="title">BANYU URIP PROJCET</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>MOBIL CEPU LTD</p>
        </li>
        <li class="collection-item">
          <span class="title">EPC PROJECT NDD AREA - 13</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.CHEVRON PACIFIC INDONESIA</p>
        </li>
      </ul>
    </div>
    <div id="content5">
      <ul class="collection">
        <li class="collection-item">
          <span class="title">ASC PHASE -V EXPANSION PROJECT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.ASAHIMAS SUBENTRA CHEMICAL</p>
        </li>
        <li class="collection-item">
          <span class="title">JCF PROJECT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>JGC CORPORATION</p>
        </li>
        <li class="collection-item">
          <span class="title">GS BENAR PROJECT DURI - RIAU</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.CHEVRON PACIFIC INDONESIA</p>
        </li>
        <li class="collection-item">
          <span class="title">PPGJ</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.PERTAMINA E&P</p>
        </li>
        <li class="collection-item">
          <span class="title">COO FITTING 2012-2014</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.PERTAMINA HULU ENERGI ONWJ</p>
        </li>
      </ul>
    </div>
    <div id="content6">
      <ul class="collection">
        <li class="collection-item">
          <span class="title">PLTU 1 NTT 2 x 7 MW</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.PLN (Persero)</p>
        </li>
        <li class="collection-item">
          <span class="title">PEKERJAAN 1 UNIT IPAL</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.PERTAMINA RU IV CILACAP</p>
        </li>
      </ul>
    </div>
    <div id="content7">
      <ul class="collection">
        <li class="collection-item">
          <span class="title">JOB JAMBI MERANG</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>JOB PERTAMINA - TALISMAN JAMBI MERANG</p>
        </li>
        <li class="collection-item">
          <span class="title">HESS (INDONESIA-PANGKAH)LTD</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>HESS (INDONESIA-PANGKAH)LIMITED</p>
        </li>
        <li class="collection-item">
          <span class="title">EPC PROJECT NDD AREA - 12</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PT.CHEVRON PACIFIC INDONESIA</p>
        </li>
        <li class="collection-item">
          <span class="title">GAJAH BARU EPCI PROJECT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>PREMIER OIL</p>
        </li>
        <li class="collection-item">
          <span class="title">KAMBUNA DEVELOPMENT PROJECT</span>
          <p style="font-size: 12px"><span style="font-weight: bolder">End User : </span>SALAMANDER ENERGY (NORTH SUMATRA) LIMITED</p>
        </li>
      </ul>
    </div>
  </div>

</div>
