/* You can add global styles to this file, and also import other style files */
blockquote {
  border-left: 5px solid #4fc3f7;
}

.tabs .indicator {
  background-color: #4fc3f7;
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 80px;
    line-height: 64px;
  }
}


