<blockquote>
  <h4>Our History & Scope</h4>
</blockquote>
<p class="flow-text">
  With our experience in the business, we are able to meet customers's demand for requirement on complete packages
  for project. We can also assist to source urgent shortage materials that are ready stock in overseas.
</p>
<div class="flow-text">
  Although our stocks are mainly in carbon steel and stainless steel,
  We can offer other range of material grades such as:
  <div style="margin-left: 30px;">
    <ul>
      <li><span class="small-text-80"><i class="material-icons left">done_all</i> Alloy</span></li>
      <li><span class="small-text-80"><i class="material-icons left">done_all</i> Duplex & Super Duplex</span></li>
      <li><span class="small-text-80"><i class="material-icons left">done_all</i> Nickel & Copper Nickel</span></li>
      <li><span class="small-text-80"><i class="material-icons left">done_all</i> Titanium</span></li>
    </ul>
  </div>
</div>
<div class="flow-text">
  Other specialty products that we can also offer are:
  <div style="margin-left: 30px;">
    <ul>
      <li><span class="small-text-80"><i class="material-icons left">done_all</i> Pipe Bend</span></li>
      <li><span class="small-text-80"><i class="material-icons left">done_all</i> Lateral Tee, Barred Tee & Cross Tee</span></li>
      <li><span class="small-text-80"><i class="material-icons left">done_all</i> Branch Reinforced Fitting (Weldoflange & Sweepolet)</span></li>
      <li><span class="small-text-80"><i class="material-icons left">done_all</i> Special Flange (Long Weld Neck, Anchor Flange & Orifice Flange)</span></li>
      <li><span class="small-text-80"><i class="material-icons left">done_all</i> Line Blank (Spectacle, Blind & Spacer)</span></li>
    </ul>
  </div>
</div>
