<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-item red white-text" href="#one!">
    <img style="width: 100%; height: 500px;" src="../../assets/img/LinePipe.jpg">
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <img style="width: 100%; height: 500px;" src="../../assets/img/pipe-elbow.jpg">
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <img style="width: 100%; height: 500px;" src="../../assets/img/Offshore.jpg">
  </div>
</div>
