<div class="carousel carousel-slider center" style="margin-bottom: 10px" data-indicators="true">
  <div class="carousel-item red white-text" href="#one!">
    <img src="assets/img/slider/sl-01.jpg">
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <img src="assets/img/slider/sl-02.jpg">
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <img src="assets/img/slider/sl-03.jpg">
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <img src="assets/img/slider/sl-04.jpg">
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <img src="assets/img/slider/sl-05.jpg">
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <img src="assets/img/slider/sl-06.jpg">
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <img src="assets/img/slider/sl-07.jpg">
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <img src="assets/img/slider/sl-08.jpg">
  </div>
</div>
